.mywork {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}
.mywork-title {
  position: relative;
}
.mywork-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600%;
}
.mywork-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.mywork-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 40px;
  width: 100%;
}

.project-card {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  height: 300px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.project-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(18, 11, 35, 0.85);
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  opacity: 0;
  transition: all 0.4s ease;
  padding: 20px;
  text-align: center;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 40px rgba(185, 35, 225, 0.4);
  border: 1px solid #b415ff;
}

.project-card:hover .project-img {
  transform: scale(1.1);
}

.project-card:hover .project-overlay {
  opacity: 1;
}

.project-overlay h3 {
  color: #fff;
  font-size: 24px;
}

.project-overlay p {
  color: #d1d0d0;
  font-size: 16px;
}

.project-link {
  padding: 12px 30px;
  border-radius: 30px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102%);
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: transform 0.3s;
}

.project-link:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .mywork {
    gap: 50px;
    margin: 10px 20px;
    align-items: start;
  }
  .mywork-title h1 {
    padding: 0;
    font-size: 2rem;
    font-weight: 600;
  }
  .mywork-title img {
    width: 90%;
    margin-right: -20px;
  }
  .mywork-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .mywork-container img {
    width: 100%;
    height: 100%;
  }
}
